/* added a height to delete the unused space under the footer */
#main{
    height:100vh;
  }

/*Icon styling Start*/

/*added custom size for the icons*/
.material-icons {
    font-size: 70px;
}

/*Icon styling End*/

/*footer-copyright Start: added margin and separated 
text from impressum link */
.copyright-text {
    float: left;
    margin-left: 30px;
}

.impressum-link {
    float: right;
    margin-right: 30px; 
}
/*footer-copyright End */ 

/*Navbar styling Start*/
.nav-brand {
    margin-left: 30px;
}

.navigation-links {
    margin-right: 30px;
}
/*Navbar styling End*/
/*Blockquote styling Start*/
.blockquote {
    margin-top: 65px;
    margin-bottom: 20px;
}
/*Blockquote styling End*/

/*Image styling Start*/
.tsmms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/*Image styling End*/

/*Official_text styling Start*/
#official_text {
    font-size: 2.00rem
}
/*Official_text styling End*/

/*Styling the text elements with our font Start*/
#main {
    font-family: Telegrotesk
    }
/*Styling the text elements with our font End*/

/*Specific Styling for the Buttons Start*/
#button1 {
    margin-top: 5px;
}
/*Specific Styling for the Buttons End*/
/*Styling blockquote Start*/
blockquote {
    max-width:600px;
    text-align: center; 
    border-left: 3px solid #E20074; 
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}
/*Styling blockquote End*/

/*Edit for mobile imprint link Start*/
.imprint_mobile {
    margin-left: 6px;
}
/*Edit for mobile imprint link End*/