---
import "../styles/tailwind.css"
import Header from "../components/navbar.astro"
import Hero from "../components/hero.astro"
import Carousel from "../components/carousel.astro"
---
<head>
    <title></title>
</head>
<body>
<Header></Header>
<Hero>
</Hero>
<Carousel></Carousel>
</body>
