<section class="flex items-center justify-center bg-white pt-20">
  <div class="mx-auto">
	<img class="mx-auto" style="height: 150px;" src="assets/logo/T_Systems_MMS_Logo.svg"/>
    <div class="text-center">
      <p class="text-lg font-medium leading-8 text-magenta py-5 app">
        Official GitHub page from T-Systems MMS
      </p>
      <h1
        class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black"
      >
      Integrate our OpenSource Code in your projects.
      </h1>
      <p class="mt-3 text-lg leading-relaxed">
	We at T-Systems MMS try to create added value in our daily work in OpenSource projects by developing projects or contributing to projects. We would like to present a few of our projects here as a showcase.
      </p>
    </div>
  </div>
</section>
