@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	--telekom-color-primary-standard: white;
	--telekom-color-background-canvas: white;
}

.segment-navigation__item-link {
	color: black;
}

.logo {
	height: 50px;
}
